@charset "UTF-8";

@font-face {
	font-family: 'SalarymanRegular';
	src: url('../fonts/SALARYMA-webfont.eot');
	src: url('../fonts/SALARYMA-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SALARYMA-webfont.woff') format('woff'),
	url('../fonts/SALARYMA-webfont.ttf') format('truetype'),
	url('../fonts/SALARYMA-webfont.svg#SalarymanRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}


body{
	font-size: 12px;
	font-family: 'Open Sans',sans-serif;
	background-color: var(--body-bg-color);
}

.page {
	padding: 0;
}

.page__content {
	min-height: 80vh;
	padding: 0.3rem 0;
}

.flex {
	display: flex;
}

/* fixes css bootstrap row-fluid broken thumbnails */
.row-fluid ul.thumbnails li.span12 + li { margin-left : 0px; }
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) { margin-left : 0px; }

.common-row {
	margin-left:0px;
}

a:link,a:visited{
	color:var(--primary-color);
}
a:hover{
	color:var(--secondary-color);
	text-decoration:none;
}

.logo {
	display: block;
}

.logo.light img {
	background-color: var(--light-color);
}

.logo.dark img {
	background-color: var(--dark-color);
}

.logoImage {
	max-width:120px;
}


.logo > h1{
	font: 24px "SalarymanRegular", Arial, sans-serif;
	letter-spacing: 0;
	padding:0;
	margin-top:20px;
	color: var(--grey-color);
}

.menu__content {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}

.menu__content a{
	font-weight: 600;
	color: var(--dark-color);
	transition: all 0.2s linear 0.2s;
}

.menu__content .nav li:hover a{
	background-color: var(--active-bg-color);
	color: var(--light-color);
}

#storeBar {
	display: flex;
	justify-content: center;
	background: var(--storebar-bg-color);
}

#storeBar a {
	transition: background-color 0.1s linear 0.1s;
}

#storeBar a:hover {
	background: rgba(var(--primary-color-rgb), 0.7);
}

.lbw{
	font: 16px "SalarymanRegular", Arial, sans-serif;
	letter-spacing: 0;
	padding:0;
	color:var(--grey-color);
}

/* Main Menu */
.res-menu{display: none;}
.res-menu{
	width: 100%;
}

#menu {
	display: flex;
	flex-direction: column;
}

#menu a {text-shadow: none;}
#menu ul {margin-left:9px;}
#menu > ul{
	display: block;
	margin-left:0;
}
#menu > ul > li{
	list-style: none;
	float: left;
	position: relative;
}
#menu > ul > li.first,
#menu > ul > li:first-child{
	margin-left: 0;
}
#menu > ul > li > a{
	font-size: 12px;
	font-weight: 400;
	color: #555;
	display: block;
	padding: 1rem;
	margin-top: 0;
}

#menu > ul > li > a .name {display: block; color: #4c4c4c;}
#menu > ul > li > a .desc {display: block; color: #808080;}

#menu > ul > li > a:hover,
#menu > ul a:hover .name,
#menu .current .name {color: var(--primary-color);}

#storeBar #menu > ul > li > a:hover,
#storeBar #menu > ul a:hover .name,
#storeBar #menu .current:hover .name {color: var(--white-color);}


#menu ul ul{
	position: absolute;
	width: 150px;
	padding: 10px 15px;
	background: var(--light-color);

	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.5);

	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;

	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;

}
#menu ul ul ul {
	-webkit-box-shadow: 0 2px 3px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0 2px 3px rgba(50, 50, 50, 0.5);
	box-shadow:         0 2px 3px rgba(50, 50, 50, 0.5);

	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;

	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#menu > ul > li > ul{
	margin-left:-15px;
	margin-top:-15px;
}
#menu ul ul li {
	list-style: none;
	padding: 5px 0;
	position: relative;
	border-bottom: 1px solid #cfcfcf;
}
#menu ul ul li.last{
	border-bottom: none !important
}
#menu ul ul li.menu-last{border-bottom: none;}
#menu ul ul a{
	display: block;
	padding: 5px 0;
	color: var(--grey-dark-color);
	font-size: 12px;
}
#menu ul ul a:hover{color: var(--secondary-color);}
#menu li:hover {visibility: inherit;}
#menu li:hover ul,
#menu li.sfHover ul {
	left: 25px;
	top: 90px;
	z-index: 99;
}
#menu li li:hover ul,
#menu li li.sfHover ul {
	left: 156px;
	top: -2px;
}

#mainmenu{
	padding:0;
	text-transform: uppercase;
	font-size:11px;
	border-bottom:1px solid #EEE;
	background-color: var(--main-bg-color);
	z-index: 1030;
}

#mainmenu.dark {
	background-color: var(--dark-color);
}

#mainmenu i{
	color: var(--dark-color);
}

#mainmenu.dark a, #mainmenu.dark i{
	color: var(--light-color);
}

#mainmenu.dark .caret{
	border-top-color: var(--light-color);
	opacity: 0.7;
}


#mainmenu.dark li:hover a{
	color: rgba(var(--primary-color-rgb), 1);
}

#mainmenu .active a{
	background-color: var(--active-bg-color);
	color:var(--white-color);
}

#mainmenu .nav{
	margin:0;
	padding:0;
}
#mainmenu #languages{
	position:relative;
	left:19px;
	background-color:#EEE;
}

.main-search {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main-search #searchButton {
	height: 37px;
	width: 37px;
	background: rgba(var(--primary-color-rgb), 1);
	border: none;
	color: var(--white-color);
	text-shadow: none !important;
}

.button {
	background: rgba(var(--primary-color-rgb), 1);
	border: none;
	color: var(--white-color);
	font-size: 0.8rem;
	text-shadow: none !important;
	padding: 0.5rem 1rem;
}

.button .min-width {
	min-width: 100px;
}

.button.btn-regular{
	background-color: rgba(var(--regular-color-rgb), 1);
	color: var(--dark-color);
}


.button.btn-info{
	background-color: rgba(var(--info-color-rgb), 0.8);
	color: var(--white-color);
}

.button.btn-danger{
	background-color: rgba(var(--danger-color-rgb), 0.8);
	color: var(--white-color);
}

.button.btn-warning{
	background-color: rgba(var(--warning-color-rgb), 0.8);
	color: var(--dark-color);
}

.button.btn-success{
	background-color: rgba(var(--success-color-rgb), 0.8);
	color: var(--white-color);
}


.logo-title,#nav,#product-tab.home a,h2.title,.
{
	text-transform: uppercase;
	font-weight:bold;
	font-size: 11px;
	height:18px;
}
#nav li.open a{
	text-shadow: 0 1px 0 var(--white-color);
}
.nav-header{
	color:var(--black-color);
}
.nav-list > .active > a, .nav-list > .active > a:hover{
	background-color: var(--grey-color);
}
.nav-list.below{
	margin-top:15px;
}

.countItems{
	color: var(--light-color);
}

.logo-title{
	color: var(--grey-color);
}
.logo-title span{
	color:var(--black-color);
}
.logo img{
	margin:25px 0
}

.logon-box {
	list-style-type: none;
	padding-top: 8px;
	z-index:500000;
}


.products-title {
	background-color: #FBFBFB;
	background-image: -moz-linear-gradient(center top , var(--white-color), #F5F5F5);
	background-repeat: repeat-x;
	/**border: 1px solid #DDDDDD;**/
	border-radius: 3px;
	box-shadow: 0 1px 0 var(--white-color) inset;
	list-style: none outside none;
	margin: 0 0 18px;
	padding: 7px 14px;
}

.products-title input, textarea, select {
	margin-bottom:0px;
}

.products-title .widget-label {
	color: var(--grey-color);
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	padding: 3px 15px;
	text-shadow: 0 1px 0 rgba(var(--white-color-rgb), 0.5);
}


#product-tab.home a,h2.title{
	font-size:16px;
}
#product-tab li.active a{
	color:rgba(var(--primary-color-rgb), 1);
}


#product-tab.home a,h2.title{
	font-size:16px;
}
#product-tab li.active a{
	color:rgba(var(--primary-color-rgb), 1);
}

.product__detail #mainImg img{
	border: 3px solid var(--product-img-border-color);
}

.product__detail-desc {
	background-color: var(--box-color);
	padding: 1rem;
}

.product__detail-price {
	color: var(--primary-color);
}

#nav li.search_form{
	padding-left:20px;
}


/** mini shopping cart **/

#miniCart{
	padding-left: 1rem;
}

.minicart {
	width: 350px;
}

.total-box {
	padding: 7px 2px;
	margin: 0 0 0px;
	height: 18px;
	list-style: none;
	background-color: #fbfbfb;
	background-image: -moz-linear-gradient(top, var(--white-color), #f5f5f5);
	background-image: -ms-linear-gradient(top, var(--white-color), #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--white-color)), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, var(--white-color), #f5f5f5);
	background-image: -o-linear-gradient(top, var(--white-color), #f5f5f5);
	background-image: linear-gradient(top, var(--white-color), #f5f5f5);
	background-repeat: repeat-x;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='var(--white-color)', endColorstr='#f5f5f5', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 var(--white-color);
	-moz-box-shadow: inset 0 1px 0 var(--white-color);
	box-shadow: inset 0 1px 0 var(--white-color);
}

.total-box-label {
	font-size: 12px;
}

.total-box-price {
	color: var(--primary-color);
	font-style: bold;
}

.total-box-grand-total {
	float:right;
}

.cartbox {

	margin:20px 20px 20px 20px;


}

#shoppingcart {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}



.footer {
	flex-direction: column;
}

.footer__logo {
	display: flex;
	flex-grow: 1;
	border-bottom: 1px solid rgba(var(--light-color-rgb), 0.1);
}

.footer__logo img {
	background-color: var(--footer-logo-bg);
	border: 4px solid var(--footer-logo-border-color);
}

.footer__menu {
	flex-grow: 1;
	font-weight: normal;
	justify-content: flex-end;
	align-items: center;
}

.footer__menu-item {
	margin-left: 2rem;
	font-size: 1rem;
	transition: all 0.1s linear 0.1s;
}

.footer__menu-item:hover {
	font-size: 1.1rem;
}

.footer__info {
	padding-top: 0.5rem;
	flex-grow: 1;
}

.footer__address {
	font-weight: 600;
	display: flex;
	justify-content: center;
	flex-grow: 0.4;
	border-left: 1px solid rgba(var(--light-color-rgb), 0.1);
	border-right: 1px solid rgba(var(--light-color-rgb), 0.1);
}

.footer__address h3 {
	padding-top: 0.5rem;
	padding-bottom: 0.3rem;
	color: var(--light-color);
}


.footer__address span, .footer__address div {
	padding-top: 0.3rem;
	color: var(--light-color);
}

.footer__address i {
	margin-right: 0.3rem;
}

.footer__social {
	flex-grow: 0.2;
}

.footer__social h3 {
	padding-top: 0.5rem;
	padding-bottom: 0.3rem;
	margin-bottom: 0;
	color: var(--light-color);
}

.footer__social span{
	padding-top: 0.3rem;
	color: var(--light-color);
	font-weight: bold;
}

.footer__social i{
	color: rgba(var(--light-color-rgb), 0.8);
	padding-top: 1rem;
	padding-right: 0.5rem;
}

.footer__customer {
	display: flex;
	justify-content: flex-start;
	flex-grow: 0.4;
	flex-direction: column;
	align-items: center;
}

.footer__customer h3 {
	padding-top: 0.5rem;
	padding-bottom: 0.3rem;
	margin-bottom: 0;
	color: var(--light-color);
}

.footer__customer li{
	padding-top: 0.3rem;
	color: var(--light-color);
	font-weight: bold;
}

footer {
	background: none repeat scroll 0 0 var(--dark-color);
	color: var(--white-color);
	margin-bottom: 0;
	margin-top: 30px;
	padding-top: 0;
}


footer h4 {
	font-size: 14px;
	font-weight:bold;
	text-transform: uppercase;
	margin: 0 0 5px 0;
}
footer ul{
	list-style-type:square;
	margin:0 0 0 13px;
	padding:4px;
}
footer div.company {
	padding-left:10px;
}

#footer-bottom {
	background: none repeat scroll 0 0 var(--dark-color);
	color: var(--white-color);
	font-size: 0.9em;
	padding-left:0;
	padding-bottom: 1rem;
	font-size: 0.8rem;
	text-align: right;
}

#footer-bottom a{
	color: var(--light-color);
	font-weight: bold;
}

#footer-bottom i{
	margin-right: 0.3rem;
}


.product-list li{
	min-height:230px;
	background-color:var(--white-color);
}
.product-list li .product-box{
	padding:0.5rem;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	background-color: rgba(var(--black-color-rgb),0.02);
	transition: background-color 0.2s linear 0.2s;
}

.product-list li .product-box__body{
	min-height:270px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	background-color: rgba(var(--white-color-rgb),0.9);
	box-shadow: 0px 0px 1px rgba(var(--black-color-rgb),0.2);
}

.product-list li .product-box__img a{
	display: block;
	overflow: hidden;
}

.product-list li .product-box__info{
	display: block;
	padding: 1rem;
}

.product-list li .product-box img{
	display:block;
	max-height:200px;
	min-height:200px;
	width: 100%;
	margin:0;
	transition: transform 0.2s linear 0.2s;
}

.product-list li .product-box img:hover{
	transform: scale(1.1);
}

.product-list li .product-box:hover{
	background-color: rgba(var(--black-color-rgb),0.05);
}

.product-list li .product-box h3{
	font-size:1rem;
	font-weight: 600;
	color: rgba(var(--primary-color-rgb), 0.9);
	text-shadow: none;
	padding: 0.5rem 0 0.2rem 0;
	line-height: 1.75rem;
}

.product-list li .product-box h3 del{
	font-size: 0.8rem;
	color: rgba(var(--primary-color-rgb), 0.52);
}

.specialPrice{
	color: rgba(var(--secondary-color-rgb), 0.9);
	background-color: rgba(var(--secondary-color-rgb), 0.05);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.1rem 0.2rem;
}

.product-list li .product-box h4{
	font-size:0.75rem;
	font-weight: bold;
	color: rgb(52, 52, 52);
	text-shadow:1px 1px #F4F4F4;
}
.product-list li .product-box .bottom{
	position: relative;
	bottom: 0;
	right: 0;
	color: rgba(var(--black-color-rgb),0.7);
	font-size: 12px;
	padding: 0.5rem 1rem 0 0;
	width: 100%;
	text-align: right;
}

.product-list li .product-box .bottom .addToCart{
	color: rgba(var(--primary-color-rgb), 0.7);
	font-size: 1.7em;
}

.product-list li .product-box .bottom .addToCart i{
	font-size: 0.8em;
	padding-left: 0.3rem;
}

.product-list li .product-box .bottom .addToCart:hover{
	color: rgba(var(--primary-color-rgb), 1);
}

.product-list li .product-box .bottom .productDetail{
	color: rgba(var(--info-color-rgb), 0.7);
	font-size: 1.7em;
}

.product-list li .product-box .bottom .productDetail i{
	font-size: 0.8em;
	padding-left: 0.3rem;
}

.product-list li .product-box .bottom .productDetail:hover{
	color: var(--info-color);
}

.listing-item {
	width:200px;
}

/** paragraph title **/
.p-title {
	color: var(--primary-color);
}

/** paragraph title **/
.p-title-text {
	color: var(--black-color);
}

/** fonts **/


#main-content h1, h2, h3, h4, h5, h6 {
	color: var(--grey-darker-color);
	font-weight: 300;
	margin: 0;
}

#main-content h1 {
	font-size: 36px;
	line-height: 43px;
	margin: 0 0 10px;
	padding: 0;
}






/*** to be revised **/



#mainCarousel.home .carousel-caption {
	position: absolute;
	right: 0;
	bottom: 100px;
	left: 0;
	padding: 10px;
	background: var(--grey-darker-color);
	background: rgba(var(--black-color-rgb), 0.25);
	width:400px;
	height:103px;
}
#mainCarousel.home .carousel-control.right {
	right: 20px;
	top:290px;
}
#mainCarousel.home .carousel-control.left {
	left: 840px;
	top:290px;
}
.bg_slider{
	background: url(../img/bg_slider.png) center no-repeat;
	height:18px;
	margin:-17px 0 15px 0;
}



.manufactures img{
	text-align:center
}
.pagination{
	margin:0;
}
.pagination li.active{
	background-color:#eee;
}
a.thumbnail:hover{
	border:1px solid #999
}
.thumbnails.small{
	margin-top:10px;
}
.thumbnails p{
	padding-top:5px;
}

ul.social{padding:0;margin:0;list-style:none;}
ul.social li{float:left;margin-right:10px;}
.table td.center{
	text-align:center;
}
#myModal{width:515px;}

.productMainImage {
	margin-bottom:20px;
}

/** typeahead search **/
.tt-dropdown-menu,
.gist {
	text-align: left;
}

input.typeahead,
input.tt-query,
input.tt-hint {
	width: 250px;
	padding: 8px 12px;
	font-size: 15px;
	line-height: 30px;
	border: 2px solid rgba(var(--primary-color-rgb), 0.3);
	outline: none;
}

input[type="text"] {
	padding: 8px 12px;
	font-size: 15px;
	line-height: 30px;
	border: 2px solid rgba(var(--primary-color-rgb), 0.3);
	outline: none;
}

select {
	padding: 0.5rem;
	height: 2.5rem;
	font-size: 15px;
	line-height: 30px;
	border: 2px solid rgba(var(--primary-color-rgb), 0.3);
	outline: none;
}

.main-search input:focus {
	border: 2px solid rgba(var(--primary-color-rgb), 0.5);
	-webkit-box-shadow: inset 0 1px 1px rgba(var(--black-color-rgb), 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(var(--black-color-rgb), 0.075);
	box-shadow: inset 0 1px 1px rgba(var(--black-color-rgb), 0.075);
}

.twitter-typeahead {
	vertical-align:top;
}

.typeahead {
	background-color: var(--white-color);
}

.typeahead:focus {
	border: 2px solid var(--info-color);
}

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(var(--black-color-rgb), 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(var(--black-color-rgb), 0.075);
	box-shadow: inset 0 1px 1px rgba(var(--black-color-rgb), 0.075);
}

.tt-hint {
	color: var(--grey-dark-color)
}

.tt-dropdown-menu {
	width: 276px;
	margin-top: 12px;
	padding: 8px 0;
	background-color: var(--white-color);
	border: 1px solid #ccc;
	border: 1px solid rgba(var(--black-color-rgb), 0.2);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(var(--black-color-rgb),.2);
	-moz-box-shadow: 0 5px 10px rgba(var(--black-color-rgb),.2);
	box-shadow: 0 5px 10px rgba(var(--black-color-rgb),.2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
	color: var(--white-color);
	background-color: var(--info-color);

}

.tt-suggestion p {
	margin: 0;
}

.whatsapp-button {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 7px 10px 8px 10px;
	margin: 1rem 1rem 4rem 1rem;
	background: var(--float-button-color);
	border-radius: 100%;
	box-shadow: 0 0 10px rgba(var(--dark-color-rgb), 0.2);
}

.whatsapp-button:link, .whatsapp-button:visited {
	color: var(--light-color);
}

@media (min-width: 1200px) {
	.thumbnails > li {
		margin-left: 16px;
	}
}